@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2 class="">IDSL Visitor Booking Portal</h2>
    <br />
    <br />
    <br />
    <p>
        Lives of great men all remind us
        We can make our lives sublime,
        And, departing, leave behind us
        Footprints on the sands of time;
    </p>
    <p>
        Footprints, that perhaps another,
        Sailing o’er life’s solemn main,
        A forlorn and shipwrecked brother,
        Seeing, shall take heart again.
    </p>
    <p>

        Let us, then, be up and doing,
        With a heart for any fate;
        Still achieving, still pursuing,
        Learn to labor and to wait.
    </p>
</div>
